<!DOCTYPE html>
<html>
<head>
    <title>Rajive Sharma Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h1>Rajive Sharma</h1>

<h3>Cloud Associate Engineer</h3>

<hr>

<h2>About Me</h2>

<p>
I am a Cloud Associate Engineer with experience in AWS,
Linux, Docker, Kubernetes, Terraform, CloudFormation, Jenkins-CI/CD and DevOps Automation.
</p>

<hr>

<h2>Skills</h2>

<ul>
<li>AWS</li>
<li>Docker</li>
<li>Kubernetes</li>
<li>Terraform</li>
<li>CloudFormation</li>
<li>Linux</li>
<li>Git</li>
<li>Prometheus</li>
<li>Grafana</li>
<li>Azure</li>
<li>Jenkins CI/CD</li>
<li>Windows Server</li>
<li>Netwroking--CCNA</li>
</ul>

<hr>

<h2>Projects</h2>

<ul>
<li>AWS Monitoring Stack</li>
<li>CloudFormation Infrastructure</li>
<li>AWS ECS CI/CD Pipeline</li>
<li>Windows Monitoring Dashboard</li>
</ul>

<hr>

<h2>Certifications</h2>

<p>AWS Certified CloudOps Associate</p>

<hr>

<h2>Contact</h2>

<p>Email: rajivesharma771@gmail.com</p>

</body>

</html>
